*.zip
*.kiro
.env
*.env
aiot.db
*.db
*.db*
*.db-journal
media-dataset/source/
media-dataset/music/
media-dataset/podcast/

.secrets/
*.secret

__pycache__/
*.py[cod]

docs/Spectification/example specification.pdf
